<div class="home__container">
  <app-card
  gameCover="assets/bt-1.jpg"
  gameLabel="DIGITAL"
  gamePrice="129,90"
  gameType="DIGITAL | PS4"
></app-card>

  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="Exclusive"
    gamePrice="269,90"
    gameType="DIGITAL | PS5"
  ></app-card>

  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="Exclusive"
    gamePrice="399,90"
    gameType="DIGITAL | PS5"
  ></app-card>

  <app-card
  gameCover="assets/bt-bad-company-2.jpg"
  gameLabel="Exclusive"
  gamePrice="299,90"
  gameType="DIGITAL | PS5"
></app-card>

  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="New"
    gamePrice="369,90"
    gameType="DIGITAL | PS3 PS4 PS5"
  ></app-card>

  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="Best of Year!"
    gamePrice="369,90"
    gameType="DIGITAL | PS5"
  ></app-card>
</div>

